/* 
CATEGORY BOOKS SECTION
 */

.category-books-section {
  background-color: #f8f8f8;
}

.category-page {
  padding: 8.6rem 0;
}

.grid-category {
  grid-template-columns: 1fr 3fr;
}

.pages {
  display: flex;
}
