/* ******************************************** */
/* CART */
/* ******************************************** */
.cart-section {
  padding: 4.8rem 0;
  background-color: #f7f7f7;
}

.cart-grid {
  grid-template-columns: 3.5fr 1.5fr;
}

.cart-section *:focus {
  outline: none;
  box-shadow: none;
}

.cart-main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  border-radius: 10px;
}

.book-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  margin-bottom: 4.6rem;
}

.cart-book {
  padding-bottom: 2.4rem;
}

.cart-title {
  align-self: center;
}

.cart-book__form {
  display: flex;
  align-items: center;
}

.cart-img {
  width: 6.4rem;
  height: auto;
}

.cart-book-title {
  font-size: 1.6rem;
  min-width: 10rem;
  max-width: 10rem;
}

.price-tag {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.price-tag__sale {
  font-size: 1.6rem;
  color: #444;
}

.price-tag__origin {
  font-size: 1.4rem;
  color: #767676;
  text-decoration: line-through;
}
.quantity-box__cart {
  margin-bottom: 0;
}
.quantity-box__cart input {
  width: 5rem;
}

.btn-detele-item {
  border: none;
  background-color: transparent;
}

.delete-icon {
  color: #767676;
  width: 2rem;
  height: 2rem;
}

/* customer-infor */

.address-box {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: 10px;
}

.address-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address-heading {
  font-size: 1.8rem;
  color: #767676;
  font-weight: 500;
}

.change-address__link:link,
.change-address__link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #1a8e8b;

  border-bottom: 1px solid transparent;
  transition: all 0.3s;
}

.change-address__link:hover,
.change-address__link:active {
  color: #00817e;
  border-bottom: 1px solid #00817e;
}

/* Style the link text color and remove underlines */
.adress-link,
.adress-link:link,
.adress-link:visited {
  color: #004d4c; /* Change to your preferred text color */
  text-decoration: none; /* Remove underlines */
  font-weight: bold; /* Add bold font weight if desired */
  font-size: 1.6rem; /* Adjust the font size as needed */
  transition: all 0.3;
}

/* Style the link on hover (when the mouse pointer is over it) */
.adress-link:hover,
.addres-link:active {
  text-decoration: underline; /* Add underlines on hover if desired */
}

.info {
  display: flex;
  align-items: center;
}

.info-name,
.info-phone {
  font-size: 1.6rem;
  color: #444;
  font-weight: 500;
}

.info-name {
  border-right: 2px solid #555;
}

.info-address {
  color: #767676;
  font-size: 1.4rem;
}

.btn-order {
  display: block;
  margin: 2.4rem auto;
  width: 80%;
}

/* total price section */

.total-price-section {
  margin-top: 2.4rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 2.4rem;
}

.price-title {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 2.4rem;
}

.total-price-section .subtotal,
.total-price-section .shipping,
.total-price-section .discount,
.total-price-section .total {
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.8rem;
}

.total {
  padding: 2.4rem 0 0 0;
  border-top: 1px solid #eee;
}

.total-price-section .total span {
  font-weight: bold;
}

/* ******************************************** */
/* PAYMENT METHOD */
/* ******************************************** */
.payment-method {
  background-color: #fff;
  border-radius: 10px;
  padding: 2.4rem;
  margin-top: 2.4rem;
}

.payment-method-title {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.payment-method-options {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.payment-method-option {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.payment-method-option-text {
  font-size: 1.4rem;
}

.cart-head {
  font-size: 2rem;
  letter-spacing: 1.2;
  margin-bottom: 3.6rem;
}

.address-form_cart {
  max-width: 50rem;
  margin: 0 auto;
}

/* cart empty */
h1 {
  color: #333;
}

.cart-description {
  color: #666;
  font-size: 1.6rem;
  margin: 0 auto;
}

.cart-empty-img {
  width: 50%;
  height: auto;
  margin: 0 auto 2rem;
}

.btn-cart-empty {
  display: inline-block;
  text-align: center;
  background-color: #fab005;
  color: #555555;
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  margin-top: 2rem;
  border-radius: 9px;
  transition: background-color 0.3s ease;
  min-width: 20rem;
  margin: 0 auto 6.4rem;
}

.btn-cart-empty:hover {
  background-color: #f59f00;
}

/* ******************************************** */
/* REPONSIVE FOR CART */
/* ******************************************** */

@media (max-width: 62em) {
  .price-tag {
    flex-direction: column;
    gap: 1rem;
  }

  .cart-book__form {
    display: flex;
  }

  .btn-detele-item {
    margin: auto;
  }
}

@media (max-width: 51em) {
  .cart-grid {
    grid-template-columns: 1fr;
  }

  .customer-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
  }

  .payment-method {
    margin-top: 0;
  }

  .total-price-section {
    grid-column: 1/-1;
  }

  .btn-order {
    grid-column: 1/-1;
  }

  .quantity-box__cart {
    margin: auto;
  }
}

@media (max-width: 35em) {
  .quantity-box__cart {
    margin-right: 2.4rem;
  }

  .btn-order {
    display: block;
    margin: 2.4rem auto;
    width: 50%;
  }
}
