/* ******************************************** */
/* BOOK DETAIL */
/* ******************************************** */

/* BOOK IMAGE */
.detail-section {
  background-color: #e6f2f2;
  padding: 1.2rem 0;
}

.product-detail {
  border-radius: 10px;
}

.detail-grid {
  grid-template-columns: 1.5fr 3fr 1.5fr;
  column-gap: 1.2rem;
}

.detail-img-box {
  background-color: #fff;
  padding: 2.4rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 9px;
  align-self: self-start;
}

.main-img {
  width: 70%;
  max-width: 48rem;
  height: auto;
  margin: 0 auto;
  padding-bottom: 2.4rem;
}

.detail-imgs {
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

.detail-img {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #7d7d7d;
  border-radius: 10px;
}

/* MIDDLE PART. BOOK INFORMATION */
.detail-text-box {
  display: flex;
  flex-direction: column;
}

.main-info {
  background-color: #fff;
  border-radius: 9px;
  padding: 2.4rem;
}

.author {
  font-size: 1.2rem;
  font-weight: 600;
  color: #767676;
}

.rating-box {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #767676;
  font-weight: 500;
}

.rating-icons ion-icon {
  font-size: 1.6rem;
  color: #fab005;
}

.rating-number {
  border-left: 2px solid #767676;
}

.detail-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #f03e3e, #fd7e14);
  width: 60%;
  max-width: 50rem;
  padding: 1.2rem 2.4rem;
  border-radius: 10px;
}

.pricing-box {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.sell-price {
  font-size: 2.4rem;
  font-weight: 600;
  color: #fff;
  position: relative;
}

.original-price {
  font-size: 1.6rem;
  text-decoration: line-through;
  color: #767676;
}

.sell-price span {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 1.6rem;
}

.discount {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.relevant-books {
  margin-top: 1.2rem;
  background-color: #fff;
  padding: 3.2rem;
  border-radius: 9px;
  position: relative;
}

.relevant-books-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.relevant-book {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.relevant-book-link,
.relevant-book-link:link,
.relevant-book-link:visited {
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  color: #767676;
}

.relevant-book-link:active .relevant-book-title,
.relevant-book-link:hover .relevant-book-title {
  color: #00817e;
}

.relevant-book-link .relevant-book-img {
  width: 12rem;
  height: 16rem;
  background-color: #7d7d7d;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  transition: all 0.3s;
}

.relevant-book-link:hover .relevant-book-img {
  transform: scale(1.05);
}

.relevant-book-title {
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 0.5rem;
}

.relevant-book-price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #00817e;
}

.relevant-book-price span {
  font-size: 1.4rem;
}

.dots {
  position: absolute;
  bottom: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #e6f2f2;
  margin: 0 0.3rem;
}

.dot.active {
  background-color: #00817e;
}

.detail-infomation {
  background-color: #fff;
  border-radius: 9px;
  padding: 2.4rem;
  margin-top: 1.2rem;
}

.detail-info-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2.4rem;
}

.detail-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: solid 2px #e6f2f2;
}

.detail-label {
  width: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #767676;
}

.detail-content {
  width: 50%;
  font-size: 1.4rem;
  font-weight: 500;
  color: #333;
}

.book-description {
  margin-top: 1.2rem;

  padding: 2.4rem;
  border-radius: 9px;
  background-color: #fff;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.06), #fff 100%);
}

.description {
  text-align: justify;
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  color: #5e5e5e;
  line-height: 1.8;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;

  transition: all 0.3s;
}

.show-more .description {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.book-description.show-more {
  background-image: none;
}

.more {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #00817e;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}

.more:hover {
  color: #005c59;
}

/* PRICE SECTION. RIGHT PART*/
.shipped-address {
  font-size: 1.2rem;
  color: #444;
}

.detail-address {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.shipped-address span {
  font-weight: 600;
}

.address-link:link,
.address-link:visited {
  font-size: 1.2rem;
  color: #1a8e8b;
  font-weight: 500;
  text-decoration: none;
}

.address-link:hover,
.address-link:active {
  color: #00817e;
}

.buy-form {
  padding: 2.4rem;
  background-color: #fff;
  border-radius: 9px;
  align-self: self-start;
}

.btn-buy {
  color: #fff;
  background-color: #00817e;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
}

.btn-buy:hover {
  background-color: #1a8e8b;
}

.btn-add-to-cart {
  color: #00817e;
  border: 1px solid #00817e;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  font-weight: 500;
  text-transform: capitalize;
}

.btn-add-to-cart:hover {
  background-color: #e6f2f2;
}

/* ******************************************** */
/* MODAL */
.modal {
  display: none; /* Hide the modal by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Style the modal content */
.modal-content {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #444;
}

.modal-content p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #767676;
}

/* Style the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Style the OK button */
#modalCloseButton {
  padding: 10px 20px;
  background-color: #00817e;
  align-self: center;
  width: 50%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#modalCloseButton:hover {
  background-color: #004d4c;
}

/* Style the button to show the modal */
#showModalButton {
  padding: 10px 20px;
  background-color: #00817e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#showModalButton:hover {
  background-color: #004d4c;
}
