/* ******************************************** */
/* REPONSIVE FOR HOME */
/* ******************************************** */
@media (max-width: 70em) {
  html {
    font-size: 56.25%;
  }
  .search-bar {
    padding: 2.4rem 3.2rem 1.2rem 3.2rem;
  }
}

@media (max-width: 62em) {
  html {
    font-size: 50%;
  }
  /* Top product sections */
  .tb-img-box {
    max-width: 90%;
    height: 70%;
  }
  /* gallery section */
  .card-body {
    padding: 1rem 0;
  }
}

@media (max-width: 51em) {
  .grid-5--columns {
    grid-template-columns: repeat(4, 1fr);
  }

  .top-books .top-book:nth-child(5) {
    display: none;
  }

  .books-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .header-grid {
    grid-template-columns: 1.5fr 2.5fr 1.5fr;
  }

  .header-left {
    align-items: center;
    justify-content: center;
  }

  .navigation {
    background-color: rgba(255, 255, 255, 0.95);
    position: absolute;
    z-index: 5;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in;
    transform: translateX(-100%);

    /* 1. hide visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
    z-index: 8;
    color: #333;
  }

  .btn-mobile-nav {
    display: flex;
    justify-items: center;
    justify-content: center;
    z-index: 7;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    margin-top: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 2.4rem;
    font-weight: 500;
    color: #333;
  }

  .nav-link:hover,
  .nav-link:active {
    color: #fab005;
  }

  .nav-list li:hover {
    background-color: transparent;
  }

  .nav-list li:hover .nav-link {
    color: #fab005;
  }

  .nav-list .nav-link:focus {
    outline: none;
    box-shadow: none;
  }

  /* implement search button */

  .btn-search-mobile {
    display: block;
  }

  .search-form {
    padding: 2.4rem 0 2.4rem 9.6rem;
    height: 8.6rem;
    position: absolute;
    background-color: #00817e;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    transform: translateY(-100%);
    transition: all 0.5s ease-in;

    /* 1. hide visually */
    opacity: 0;

    /* 2. Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3. hide it from screen readers */
    visibility: hidden;
  }

  .open .search-form {
    opacity: 1;
    transform: translateY(0%);
    pointer-events: auto;
    visibility: visible;
  }

  .open .search-icon {
    display: none;
  }

  .search-form input {
    padding: 1.6rem;
  }

  /* .btn-mobile-nav,
  .header-left,
  .main-nav {
    display: none;
  } */

  .btn-close-search {
    display: inline-block;
    margin-left: auto;
    margin-right: 2.4rem;
  }
}

@media (max-width: 41em) {
  .slider-container {
    margin: 0 auto;
    max-width: 70rem;
    height: 40rem;
  }

  .books-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .tb-img-box {
    max-width: 100%;
    height: 70%;
  }

  .top-books {
    text-align: center;
  }

  .tb-title {
    font-size: 1.6rem;
  }

  .tb-author {
    font-size: 1.2rem;
    color: #007471;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 43.75%;
  }

  .books-container,
  .top-books {
    grid-template-columns: repeat(2, 1fr);
  }

  .bs-img-box {
    grid-column: 1 / -1;
  }

  .top-book {
    text-align: center;
  }

  .tb-img-box {
    margin: 0 auto 2.4rem;
    max-width: 70%;
    height: 70%;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
    gap: 6.4rem;
  }

  .card-img {
    width: 8rem;
    height: 12rem;
  }
}
