.user-info-container {
  max-width: 70rem;
  margin: 0 auto;
}

.address-form {
  display: flex;
  flex-direction: column;
}

.form-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 100%;
  gap: 2.4rem;
}

.form-group .form-control {
  margin-right: 1rem;
}

.label-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.address-group {
  padding: 2.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address-group .form-control {
  margin-right: 1rem;
}

.btn-user-info {
  display: block;
  align-self: flex-end;
  margin: 1.2rem auto;
  background-color: #00817e;
  color: #fff;
  cursor: pointer;
}

.btn-user-info:hover {
  background-color: #006c69;
}

.user-info-container h2 {
  text-align: center;
  margin: 3.2rem 0;
}
